@{ 
    ViewBag.Title = "Smapme Index";
}



    <nav class="navbar navbar-default">
        <div class="navbar-header">
            <a class="navbar-brand" href="/">Smapme</a>
        </div>
        <div class="container">
            <button type="button" class="btn btn-default  navbar-btn">Sign in</button>
        </div>
    </nav>
<div class="container">
    <div class="row">
        <div class="col-md-4">
            <div class="panel panel-default">
                <div class="panel-heading">
                    <span>Add new trip :</span>
                </div>
                <div class="panel-body">
                    <form>
                        <div class="form-group">
                            <label>Location</label>
                            <input class="form-control" />
                        </div>
                        <div class="form-group">
                            <label>Date</label>
                            <input class="form-control" />
                        </div>
                        <input type="submit" value="Add" class="btn btn-primary" />
                    </form>
                </div>  
            </div>
            <div class="panel panel-default">
                <div class="panel-heading">
                    <span>Add stops :</span>
                </div>
                <div class="panel-body">
                    <form>
                        <div class="form-group">
                            <label>Name</label>
                            <input class="form-control" />
                        </div>
                        <div class="form-group">
                            <label>Location</label>
                            <input class="form-control" />
                        </div>
                        <input type="submit" value="Add" class="btn btn-primary" />
                    </form>
                </div>
            </div>
            
        </div>
        <div class="col-md-7">
            <div class="panel panel-default">
                <div class="panel-heading">
                    <span>Map View:</span>
                </div>
                <div class="panel-body">
                    <my-app>
                        <div class="loader">
                            <h1>LOADING ...</h1>
                        </div>
                    </my-app>
                    <div id="map"></div>

                </div>
            </div>
        </div>
    </div>
</div>

@section scripts{
<script src="lib/jquery/dist/jquery.js"></script>
<script src="lib/bootstrap/dist/js/bootstrap.js"></script>
<script>
      function initMap() {
        // Create a map object and specify the DOM element for display.
        //var map = new google.maps.Map(document.getElementById('map'), {
        //  center: {lat: -34.397, lng: 150.644},
        //  scrollwheel: false,
        //  zoom: 8
        //});
      }

</script>
<script async defer src="https://maps.googleapis.com/maps/api/js?key=AIzaSyB3nVWAP5Xv87ceDJvkeViYKcr_Un_QhSg&callback=initMap"
  type="text/javascript"></script>
<script type="text/javascript" src="~/lib/gmaps/gmaps.js"></script>
<script type="text/javascript" src="~/lib/travelmap/travelmap.js"></script>

@*<script>
    (function () {
        System.config({
            packages: {
                'app': { defaultExtension: 'js' },
                'lib': { defaultExtension: 'js' },
            }
        });

        System.import('app/boot')
            .then(null, console.error.bind(console));
    })();
</script>*@

<script type="text/javascript" src="~/lib/npmlibs/core-js/client/shim.min.js"></script>
<script src="~/lib/npmlibs/zone.js/dist/zone.js"></script>
<script src="~/lib/npmlibs/reflect-metadata/Reflect.js"></script>
<script src="~/lib/npmlibs/systemjs/dist/system.src.js"></script>
<script>System.packageWithIndex = true;</script>
<!-- 2. Configure SystemJS -->
<script src="~/js/systemjs.config.js"></script>
<script>
    System.import('app/boot')
   .then(null, console.error.bind(console));
</script>
}



@*<nav id="footer" class="navbar navbar-default">
    &copy; 2016 4LostKings
</nav>*@